## Android & Gradle Geçici Dosyaları
*.iml
.gradle/
/local.properties
/build/
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json

## Android Studio / IntelliJ IDEA Önbellek Dosyaları
.idea/
.kotlin/
*.log
*.hprof

## OS Geçici Dosyaları
.DS_Store
Thumbs.db
